{% extends '../layout.html' %}

{% block changetemplate %}
  <div class="container" style="padding:50px 0;">
      {% if user.is_authenticated %}
      <p style="display:block; text-align:center;">Lütfen Parolanızı Sıfırlamak İçin Çıkış Yapınız. 'Şifremi Unuttum' butonuna basarak yeni şifrenizi belirleyebilirsiniz.</p>
      {% else %}
        <p>
          Girdiğiniz e-postada bir hesap varsa, şifrenizi belirleme talimatlarını e-postayla gönderdik. <br>
          Onları kısa sürede almalısın.
        </p>
        <p>
          Bir e-posta almadıysanız, lütfen kaydolduğunuz adresi girdiğinizden emin olun ve spam klasörünüzü kontrol edin.
        </p>
      {% endif %}

  </div>

{% endblock %}