{% extends '../layout.html' %}
{% load bootstrap4 %}
{% block changetemplate %}
  <div class="container" style="padding:50px 0;">
      {% if user.is_authenticated %}
        <p style="display:block; text-align:center;">Lütfen Parolanızı Sıfırlamak İçin Çıkış Yapınız. 'Şifremi Unuttum' butonuna basarak yeni şifrenizi belirleyebilirsiniz.</p>
      {% else %}
        <h3>Parolamı Unuttum</h3>
        <form method="post">
          {% csrf_token %}
          {% bootstrap_form form %}
          <button type="submit" class="btn btn-success">Gönder</button>
        </form>
      {% endif %}
  </div>

{% endblock %}