{% extends '../layout.html' %}
{% load bootstrap4 %}
{% block changetemplate %}
  <div class="container" style="padding:50px 0;">
    {% if validlink %}
      <h3>Parolayı Değiştir</h3>
      <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-success">Parolayı Değiştir</button>
      </form>
    {% else %}
      <p>
          Şifre sıfırlama bağlantısı muhtemelen daha önce kullanıldığı için geçersizdir. Lütfen yeni bir şifre sıfırlama isteğinde bulunun.
      </p>
    {% endif %}
  </div>

{% endblock %}