{% extends "layout.html" %}

{% block changetemplate %}
    <div class="ust-yazi">
        Sponsorlarımız
    </div>
    <div id="page-sponsor">
        <div class="container">
            {% if sponsorlarimiz %}
                {% for sponsor in sponsorlarimiz %}
                    <div class="col-md-3">
                        <div class="sponsors">
                            <img src="{{sponsor.sponsor_foto.url}}" alt="">
                        </div>
                    </div>
                {% endfor %}
            {% else %}
            {% endif %}

        </div>
    </div>
{% endblock changetemplate %}
